{% extends 'paginas/modelo.html' %}
{% load static %}
{% block titulo %}
<title>Listar Campos</title>
{% endblock %}

{% block conteudo %}
<h3>Lista de Progressões registradas
    <a class="btn btn-primary btn-sm float-end" href="{% url 'cadastrar-progressao' %}"><i class="bi bi-plus-circle"></i></a>
</h3>
<hr>
<div class="table-responsive">
<table class="table table-striped">
    <tr>
        <th>Classe</th>
        <th>Data Inicial</th>
        <th>Data Final</th>
        <th>Usuário</th>
        <th>Opções</th>
    </tr>
    {% for progressao in object_list %}
    <tr>
        {% if progressao %}
        <td>{{ progressao.classe }}</td>
        <td>{{ progressao.data_inicial }}</td>
        <td>{{ progressao.data_final }}</td>
        <td>{{ progressao.usuario }}</td>
        {% else %}
        &nbsp;
        {% endif %}
        <td>
            <a href="{% url 'editar-progressao' progressao.pk %}" class="btn btn-warning btn-sm" title="Editar"><i class="bi bi-pencil"></i></a>
            <a href="{% url 'excluir-progressao' progressao.pk %}" class="btn btn-danger btn-sm" title="Excluir"><i class="bi bi-trash"></i></a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="3">Nenhuma progressão registrada.</td>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}
{% block destaque %}

{% endblock %}